.reviews {
    display: block;
}

.reviews-group {
    padding: 0 60px;
}

.reviews-group__group {
    display: inline-block;
    margin: 15px 15px 35px 0;
}

.reviews-group__title {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.reviews-group__text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: inline-block;
    max-width: 680px;
    vertical-align: top;
    margin: 75px 0px 0px 0;
}

